.button {
  border-radius: var(--border-radius);
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: var(--transition-default);
  width: 100%;
  user-select: none;
  @include centerContent;

  &:hover {
    background-color: var(--color-gray-light);
  }
}

@include mq(tab) {
  .button {
    width: auto;
  }
}
