.itemsInStore {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;

  &__item {
    background-color: var(--color-gray-light);
    padding: 0.4rem 0.8rem;
    font-size: 90%;
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    svg {
      path {
        stroke: var(--color-white);
      }
    }
  }
}
