@import './src/styles/abstracts/_mixins.scss';

.app {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
  min-height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title {
  font-weight: var(--font-weight-bold);
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

@include mq(tab) {
}
