@import './src/styles/abstracts/_mixins.scss';

.input {
  border: 2px solid var(--color-gray-light2);
  border-radius: var(--border-radius);
  padding: 0.6rem 1rem;
  background-color: var(--color-white);
  width: 100%;

  &::placeholder {
    opacity: 0.5;
    color: var(--color-gray);
  }
}

@include mq(tab) {
  .input {
    min-width: 20rem;
  }
}
