:root {
  --color-white: #fff;
  --color-white-secondary-rgb: 255, 255, 255;
  --color-primary: #0fc2d2;
  --color-primary-rgb: 15, 194, 210;
  --color-blue: #3884e8;
  --color-yellow: #f9e7a3;
  --color-red: #ec4f6f;
  --color-black: #212121;
  --color-black-rgb: 35, 36, 36;
  --color-black-secondary: #2a2828;
  --color-gray: #817f7f;
  --color-gray-seconadary: #4e4f53;
  --color-gray-light: #acacac;
  --color-gray-light2:rgb(236, 234, 234);
  --color-gray-rgb: 129, 129, 129;
}
