@import './src/styles/abstracts/_mixins.scss';

.item {
  background-color: var(--color-white);
  padding: 4rem 3rem;
  @include centerContent;
  flex-direction: column;
}

.title {
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.comp {
  @include centerContent;
  width: 100%;
}

@include mq(tab) {
  .comp {
    max-width: 40rem;
  }
}
